# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build

#CMake temporaries
CMakeCache.txt
CMakeFiles

# Other temporaries
 *~
\#.*\#

# Downloaded assets
third_party
mediadata/downloads
mediadata/external
mediadata/merged
