---
Checks:          '-*, modernize-use-nullptr, modernize-avoid-c-arrays, modernize-redundant-void-arg, modernize-replace-auto-ptr, cppcoreguidelines-no-malloc, readability-magic-numbers'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
